website/xml/log-schema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
	<xs:element name="Log">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="line" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="timestamp"/>
							<xs:element type="xs:string" name="level"/>
							<xs:element type="xs:string" name="tag"/>
							<xs:element type="xs:string" name="message"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>